//@import "resources/font";
//@import "resources/vars";
//@import "resources/colors";

@media only screen and (max-width: 1400px) {
  * {
    font-size: $fs-hint;
  }

  header {
    margin-bottom: 200px;
    @media screen and (max-width: 750px) {
      margin-bottom: 400px;
      #personal-name {
        justify-content: center;
      }

      .inline-wrapper.wide {
        visibility: hidden;
      }

      .inline-wrapper.mobile {
        display: flex !important;
        flex-direction: row;
      }

      #myself {
        left: 50%;
        transform: translateX(-50%) rotateZ(45deg);

        .social-media {
          $animation-offset: 1%;
          width: 60px !important;
          height: 60px !important;

          pointer-events: none;

          &.github {
            top: initial;
            bottom: -30% !important;
            left: 10% !important;
          }

          &.gitlab {
            top: initial;
            bottom: -30% !important;
            left: 60% !important;
          }

          &.linkedin {
            top: initial;
            left: initial;
            bottom: 10% !important;
            right: -32% !important;
          }

          &.dribble {
            top: initial;
            left: initial;
            bottom: 60% !important;
            right: -32% !important;
          }
        }
      }
    }

  }

  .mobile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #profil {
    position: relative;
    margin-top: 50px;

    width: 90% !important;
    min-width: auto !important;
    height: auto !important;

    box-shadow: none !important;

    > #profil-container {
      height: 100% !important;

      padding: 20px !important;
    }

    &:after {
      content: "";

      position: absolute;
      left: 50%;
      top: 48%;
      transform: translate(-50%, -50%);
      z-index: -2;

      background-color: $gray-dark;
      border-radius: $border-radius-default;

      width: 6px;
      height: 100%;
    }
  }

  #contact-block {
    width: 80% !important;
    height: 60px !important;

    .contact > img {
      width: 14px !important;
      height: 14px !important;

      margin-right: 10px !important;
    }
  }

  .progress {
    width: 100% !important;

    .progress_background {
      width: 90% !important;
    }
  }

  #languages {
    margin-top: 20px !important;
  }

  .section-container {
    padding: 0 !important;
  }

  #skills {
    > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .skill-domain {
      width: 100% !important;
    }

    .keyword {
      width: 100px !important;
    }

    .skill {
      height: auto !important;

      display: flex;
      flex-direction: column;

      .progress {
        margin-bottom: 25px;
      }

    }
  }

  #portfolio {
    #github-link {
      justify-content: flex-start !important;
      margin: {
        top: 10px;
        left: -20px;
      }
    }
  }

  @media only screen and (max-width: 700px) {
    #resume {
      position: relative;
      top: -50px;
      left: 50%;

      z-index: 3;

      transform: translateX(-50%);
    }
  }

  #copyright {
    font-size: $fs-hint!important;
  }
}
